.div1 {
  background-color: #152130;
  display: flex;
  flex-direction: column;
  width: 350px;
  align-content: center;
  border: 2px;
  border-radius: 10px;
  height: 330px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.div1:hover {
  transform: scale(1.03);
  transition: all 0.5s ease;
}

.div2 {
  margin: 0;
  position: relative;
  top: 17%;
  transform: translateY(-50%);
}

.genero {
  color: #8e9097;
  margin-top: 10px;
  margin-bottom: 0px;
}

.nombre {
  text-transform: uppercase;
  font-size: 2.5vh;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 10px;
  margin-right: 10px;
}

.rating {
  color: #8e9097;
  margin-top: 0px;
  margin-bottom: 0px;
}

.select {
  text-decoration: none;
  color: #ffffff;
  box-shadow: inset 0 -3px 0 0 red;
  box-shadow: none;
  transition: all 0.3s ease;
}

.select:hover {
  color: #26ddf2;
}
