.ul {
  /* background-color: #252525; */
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 0.5%;
  list-style: none;
}

.li {
  display: inline;
}

.button {
  background: none;
  color: #fff;
  border: none;
  padding: 0;
  outline: inherit;
  font-size: 18px;
  margin-left: 18px;
  margin-right: 15 px;
  color: #8e9097;
}

.button:focus {
  color: #26ddf2;
  font-weight: bold;
}

.button:hover {
  cursor: pointer;
  color: #26ddf2;
  font-weight: bold;
}
