.ul {
  display: flex;
  padding-left: 18%;
  margin-bottom: 1.2%;
  list-style: none;
  font-size: 18px;
}

.li {
  display: inline;
}

.button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  outline: inherit;
  font-size: 18px;
  margin-left: 18px;
  margin-right: 15 px;
  color: #8e9097;
}

.button:focus {
  color: #26ddf2;
  font-weight: bold;
}

.button:hover {
  cursor: pointer;
  color: #26ddf2;
  font-weight: bold;
}
